objs
objs_test
*.o
*.pyc

google_test
googletest-release-1.11.0
-h

webserv
tester

logs/error.txt
logs/debug.txt
logs/info.txt
logs/warning.txt
logs/processing.txt

valgrind.log

tester42
cgi_tester42